/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Merriweather:ital@1&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Styling Variables */
:root {
  --link-color: #B98348;
  --overlay-color: #B98348;
  --type-on-path-color: #B98348;
  --body-typeface: 'Inter', sans-serif;
  --main-heading: 'Inter', sans-serif;
  --background-color: #F5EFE7;
  --body-text: #1F1F1F;
  --project-headings: #1F1F1F;
  --hover-color: #B98348;
  --footer-color: #D6DCD5;
}


body {
  font-family: var(--body-typeface);
  line-height: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--body-text);
}



/* Making all images responsive */
img {
  width: 100%;
  height: auto;

}



/* Mobile and Global Typography */

h1 {
  font-size: 1.25em;
  line-height: 1.3em;
  font-family: var(--main-heading);
  padding-bottom: 0.5em;
}

h2 {
  font-size: 2.175em;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  font-size: 0.8em;
}

.hero-headline {
  color: var(--project-headings);
  background-color: var(--header-background-color)
}

/* Type on a path styles */
.type-on-path-text {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

#curve {
  fill: transparent;
}

.color-type-on-path {}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: var(--project-headings);
}

a:hover {
  color: var(--hover-color);
}


p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1em;
  color: var(--body-text);
}






/* Work Page Layout */


.work-wrapper {
  flex: 1;
  width: 100%;
  /* Take up the remaining space available */
}

.portfolio {
  /* padding: 1rem; */
}

/* Defining the work page grid for mobile and global */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 10px;
  padding: 15px;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width. Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.project {
  position: relative;
  /* Required to contain overlay size */
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.66s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}


/* Solid Colour Overlay */
.solid {
  background-color: var(--overlay-color);
}

.project:hover .solid,
.project:active .solid {
  opacity: 0.98;
  color: #FDFBF7;
}


/* Footer Styles - Global and mobile */

.main-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2em 1em 3em 1em;
  text-align: center;
  background-color: var(--footer-color);
}


.footer-item-1 {
  font-size: 1.25em;
}

.email-address-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.footer-item-2 {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;

}

.social-item {
  padding: 0 1rem;
}

.footer-item-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0em 4em 1em 4em;
  background-color: var(--footer-color);
  text-transform: uppercase;
  font-size: 1.1em;
}

.email-arrow {
  width: 12vw;
  margin-right: 0.875rem;
}


.top-arrow {
  padding: 0em 0.5em 0em 0em;
  width: 1.3em;
}


/*Illustration Gallery*/

.gallery {
  margin: 10px 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--background-color)
}

.gallery img {
  transition: 1s;
  padding: 15px;
  width: 80vw;
}

.gallery img:hover {
  transform: scale(1.1);
}


/* Hero */

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.navigation-link {
  padding-top: 1em;
  padding-bottom: 1rem;
  width: 8rem;
  display: block;
  text-align: center;
  font-size: 1.1em;
  text-transform: uppercase;
}

.navigation-link:hover {
  background: url(squiggle-highlight.svg);
  z-index: 50;
  background-repeat: repeat-x;
  background-position-y: 3.2rem;
  background-size: 0px 86px 5px 20px;
}

.branding-sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: right;
  /* padding: 1em 3em 0em 3em; */
  align-items: center;
  text-transform: uppercase;
}



.logo {
  margin-top: 1em;
  width: 2.95em;
  position: absolute;
  top: 0;
  left: 2em;
  transform: none;
}

.hero-headline-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.headline-description {
  display: flex;
  justify-content: center;
  padding: 2em 1em 1em 1em;
  line-height: 1.6em;
  font-size: 1.1em;
}

.hero-logo {
  width: 80vw;
}

.to-the-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.1em;
}

.hero-arrow {
  width: 6%;
  padding-bottom: 1em;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0em 3em 1em 3em;
}

/* About */

.hero {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
  width: 100%;
}

.hero-about {
  flex: 1;
}

.about-introduction {
  display: flex;
  padding: 0em 10em 2.5em 0em;
}

.about-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em 4em;
  flex-direction: column;
}

.about-photo {
  width: 100%;
  margin-bottom: 2rem;
}

.about-bio {
  width: 100%;
  text-align: left;
}



/* Project Page */

.project-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 5em 1em;
}

.project-title {
  font-size: 3em;
}

.project-aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--body-text);
  width: 100%;
  min-height: 35vh;
  padding: 1em;
  font-size: 1.1em;
}

.project-type {
  font-style: italic;
  padding-bottom: 0.75em;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrow {
  padding-right: 1em;
  justify-content: center;
}


.project-details {
  width: 100%;
  padding: 1em;
}

.next-project-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-right: 2em;
  padding-bottom: 2em;
  text-transform: uppercase;
  font-size: 1.25em;
}

.next-project {
  display: flex;
  flex-direction: row;
}

.next-project-arrow {
  width: 4vw;
  padding-right: 1em;
}





/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {}
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* .project-wrapper {
  flex-direction: row;
}

.project-aside {
  width: 28vw;
  height: 40vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;


}

.project-details {
  width: 68vw;

} */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {}

  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.7em;
  }

  .type-on-path-text {
    display: flex;
    justify-content: center;
    font-size: 3em;
  }


  .navigation-link {
    padding-top: 0em;
    text-transform: uppercase;
    font-size: 1.25em;
  }

  .navigation-link:hover {
    background-position-y: 2.2rem;
  }

  .hero-headline-wrapper {
    justify-content: space-between;
    /* padding: 5em 47em 0em 4em; */
    flex-direction: row;
    background: lightblue;
    min-height: 30vh;
    align-items: center;
  }

  .to-the-work {
    /* padding: 4em 0em 0em 0em; */
    font-size: 1.25em;
    background: yellowgreen;
  }

  .headline-description,
  .spacer {
    /* padding: 4em 0em 0em 0em; */
    width: 30vw;
    line-height: 1.6em;
    font-size: 1.25em;
    background: hotpink;
  }

  .spacer {
    background: orangered;
  }

  .branding-navigation {
    padding: 1em 2.25em 0em 2.25em;
  }

  .project-title-overlay {
    font-size: 3em;
  }

  .logo {
    width: 4em;
    float: none;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main-footer {
    flex-direction: row;
    padding: 2em 4em 3em 4em;
    text-align: left;
    background-color: var(--footer-color);
  }

  .email-address-link-wrapper {
    justify-content: flex-start;
  }

  .footer-item-2 {
    flex-direction: row;
    font-size: 1.25em;
  }

  .email-arrow {
    width: 4vw;
  }

  .hero-logo {
    width: 75vw;
  }

  .hero-arrow {
    width: 2.2vw;
  }



  /* Only change the pixels below for large screens as desired */
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(850px, 1fr));
    grid-gap: 80px;
    padding: 80px;
  }

  .project-wrapper {
    flex-direction: row;
  }

  .project-aside {
    width: 28vw;
    height: 40vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0vh;
    padding: 0em 1em 1em 1em;
  }

  .project-type {
    font-style: italic;
    padding-bottom: 0.5em;
  }

  .project-details {
    width: 70vw;
  }


  .about-wrapper {
    flex-direction: row;
    padding: 6em 12em;
  }

  .about-photo {
    width: 30%;
    margin-bottom: 0;
  }

  .about-bio {
    width: 48%;
    padding: 3rem;
    font-size: 1.25em;
  }

  .gallery img {
    width: 31vw;
  }

  .footer-item-3 {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    justify-content: right;
    background-color: var(--footer-color);
  }

  .top-arrow {
    padding: 0em 0.5em 0em 0em;
    width: 1.2em;
  }


}



/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {}
}