/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Merriweather:ital@1&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Styling Variables */
:root {
  --link-color: #8CA16A;
  --body-typeface: 'Gotu', sans-serif;
  --main-heading: 'Gotu', sans-serif;
  --background-color: #FDFBF7;
  --body-text: #313D3B;
  --project-headings: #313D3B;
  --hover-color: #CCAE3D;
}


body {
  font-family: var(--body-typeface);
  line-height: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}



/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
}


/* Mobile and Global Typography */

h1 {
  font-size: 2.175em;
  font-family: var(--main-heading);
  line-height: 1.2em;
  margin-bottom: .5em;
}


.hero-headline {
  color: var(--project-headings);
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: var(--link-color)
}

a:hover {
  color: var(--hover-color);
}

p {
  margin-bottom: 1em;
}



/* Work Page Layout */


.work-wrapper {
  flex: 1;
  /* Take up the remaining space available */
}

.portfolio {
  padding: 1rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width. Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}


.hero-footer {}

.main-footer {
  min-height: 50vh;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1em 3em 0em 3em;
  text-align: center;
}








/* Hero */

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 3em 0em 3em;
  align-items: center;
}

.logo {
  width: 3em;
}

.hero-headline-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 4em 8em;
  text-align: center;
}

.hero-headline {
  font-size: 56px;
  padding: 0em 7em 0em 7em;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0em 3em 1em 3em;
}

/* Hero */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.hero-headline-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 4em 8em;
  text-align: center;
}



/* Project Page */

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.project-aside {
  width: 100%;
  color: var(--body-text);
  padding: 1em;
}

.project-navigation {
  display: flex;
  flex-direction: row;
}

.arrow {
  padding-right: 1em;
}

.project-details {
  width: 100%;
  padding: 1em;
}








/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background: rgb(153, 212, 244);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  h1 {
    font-size: 3em;
  }



  body {
    background: rgb(244, 203, 153);
  }

  .project-wrapper {
    flex-direction: row;
  }

  .project-aside {
    width: 30vw;
    height: 40vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;


  }

  .project-details {
    width: 70vw;

  }





}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background: rgb(232, 244, 153);
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    background: rgb(245, 235, 240);
  }
}